.visualizer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.array-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 320px;
    width: 80%;

    background-color: #020617;
    border: 1px solid #1e293b;
    border-radius: 16px;

    box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, 0.6);

    padding: 20px;
}

.array-bar {
    width: 10px;
    background-color: #3b82f6; /* O güzel mavi renk */
    margin: 0 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: height 0.3s ease; /* Boy değişirken yumuşak geçiş */
}

.controls {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.btn-control {
    background-color: #1e293b;
    color: white;
    border: 1px solid #3b82f6;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.btn-control:hover {
    background-color: #3b82f6;
}
/* Seçim Kutusu (Dropdown) Tasarımı */
.algo-select {
    padding: 10px 15px;
    border-radius: 6px;
    background-color: #1e293b; /* Koyu arka plan */
    color: white; /* Beyaz yazı */
    border: 1px solid #3b82f6; /* Mavi çerçeve */
    outline: none;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.algo-select:hover {
    background-color: #334155; /* Üzerine gelince hafif aç */
}

/* Başlat (Play) Butonu - Biraz daha dikkat çekici olsun */
.btn-primary-play {
    background-color: #10b981; /* Yeşil renk (Harekete geçirir hissi) */
    color: white;
    border: none;
    padding: 10px 24px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 8px; /* İkon ile yazı arası boşluk */
    transition: transform 0.2s;
}

.btn-primary-play:hover {
    background-color: #059669; /* Koyu yeşil */
    transform: scale(1.05); /* Hafif büyüme efekti */
}

/* Slider Grubu */
.slider-group {
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: #1e293b;
    padding: 5px 15px;
    border-radius: 8px;
    border: 1px solid #334155;
}

.slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #94a3b8;
    font-size: 0.8rem;
}

/* Slider'ın Kendisi (Input Range) */
input[type='range'] {
    accent-color: #3b82f6; /* Slider rengi mavi olsun */
    cursor: pointer;
    width: 100px;
}
