* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #0f172a;
    overflow-x: hidden;
    font-family: 'Segoe UI', sans-serif;
}

#root {
    width: 100%;
    min-height: 100vh;
}
